@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

.body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.125rem;
  color: dimgray;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Epilogue", sans-serif;
}

.container {
  padding: 1rem 0 5.875rem;
  text-align: center;
}

@media (min-width: 1024px) {
  .container {
    padding: 2rem 0 7.625rem;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
    margin: 0 auto;
  }
}

.nav-container {
  position: absolute;
  background-color: rgba(20, 20, 20, 0.7);
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.nav {
  position: absolute;
  background-color: #fafafa;
  width: 240px;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  padding: 1.375rem 1.25rem 0 1.5rem;
  text-align: left;
  font-size: 1rem;
}

.nav__item {
  margin-bottom: 1rem;
}

.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown__arrow {
  margin-left: 1.0625rem;
}

.hamburger-close {
  display: block;
  margin-right: 0;
  margin-left: auto;
}

.sub-menu {
  margin-top: 1.5rem;
  padding-left: 1.4375rem;
  margin-bottom: 1.5rem;
}

.sub-menu li {
  margin-bottom: 1rem;
}

.sub-menu li img {
  margin-right: 1rem;
}

.sub-menu.disabled {
  display: none;
}

.btn-container {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .nav-container {
    position: static;
    display: block;
    width: 100%;
  }
  .nav {
    position: static;
    background-color: #fafafa;
    width: 100%;
    padding: 0;
    text-align: left;
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #ffffff;
  }
  .nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .nav__item {
    margin: 0 2.5rem 0 0;
  }
  .btn-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 0;
  }
  .dropdown__arrow {
    margin-left: 9px;
  }
  .sub-menu {
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.149126);
            box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.149126);
    border-radius: 10px;
    padding: 1.5rem;
  }
  .features-sub-menu {
    position: absolute;
    margin: 0;
    top: 50px;
    left: -80px;
  }
  .company-sub-menu {
    position: absolute;
    margin: 0;
    top: 50px;
    left: 120px;
  }
  .nav .btn--transparent {
    margin-right: 2.5rem;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
  padding: 0 1rem;
}

.logo {
  width: 87px;
  height: auto;
}

.hamburger,
.hamburger-close {
  background-color: #fafafa;
  border: none;
  width: 32px;
  height: auto;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .header {
    padding: 0 6%;
    margin-bottom: 4.1875rem;
  }
  .hamburger,
  .hamburger-close {
    display: none;
  }
  .logo {
    width: 83.5px;
    margin-right: 3.9rem;
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 0 2.57875rem;
  }
}

.hero__content {
  padding: 0 2%;
}

.hero__img {
  width: 100%;
  margin-bottom: 2.984375rem;
}

.hero__title {
  color: #141414;
  font-size: 2.25rem;
  letter-spacing: -0.5px;
  line-height: 42px;
  margin-bottom: 1rem;
}

.hero__text {
  font-size: 1rem;
  line-height: 26px;
  padding: 0 1rem;
  margin-bottom: 1.5rem;
}

.clients-container {
  margin-top: 3rem;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#databiz {
  width: 81.25px;
  height: auto;
}

#audiophile {
  width: 52.87px;
  height: auto;
}

#meet {
  width: 64.14px;
  height: auto;
}

#marker {
  width: 58.97px;
  height: auto;
}

@media (min-width: 500px) {
  .hero__content {
    padding: 0 14%;
  }
}

@media (min-width: 768px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 4%;
  }
  .hero__content {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    padding: 0 2rem 0 0;
    text-align: left;
    height: 100%;
  }
  .hero__title {
    font-size: 5.4vw;
    line-height: 1.2;
    letter-spacing: -1.11px;
    margin-bottom: 1rem;
    padding-top: 5.8375rem;
  }
  .hero__text {
    padding: 0;
    font-size: 1.425vw;
    margin-bottom: 3.1875rem;
    max-width: 86%;
    line-height: 1.4;
  }
  .clients-container {
    margin-top: 2.75rem;
    width: 270px;
  }
  .hero__img {
    margin-bottom: 0;
  }
  #databiz {
    width: 83px;
    height: auto;
  }
  #audiophile {
    width: 43px;
    height: auto;
  }
  #meet {
    width: 59px;
    height: auto;
  }
  #marker {
    width: 52px;
    height: auto;
  }
}

@media (min-width: 1024px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 6%;
  }
  .hero__content {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    padding: 0;
    text-align: left;
    margin-right: 10%;
    height: 100%;
  }
  .hero__title {
    font-size: 5.5vw;
    line-height: 80px;
    letter-spacing: -1.11px;
    margin-bottom: 3rem;
    padding-top: 7.8375rem;
  }
  .hero__text {
    padding: 0;
    font-size: 1.425vw;
    margin-bottom: 3.1875rem;
    max-width: 86%;
    line-height: 28px;
  }
  .clients-container {
    margin-top: 6.75rem;
    width: 470px;
  }
  .hero__img {
    margin-bottom: 0;
  }
  #databiz {
    width: 103px;
    height: auto;
  }
  #audiophile {
    width: 63px;
    height: auto;
  }
  #meet {
    width: 79px;
    height: auto;
  }
  #marker {
    width: 72px;
    height: auto;
  }
}

@media (min-width: 1440px) {
  .hero__content {
    padding-left: 10.3125rem;
    margin-right: 125px;
  }
  .hero__title {
    font-size: 5rem;
    padding-top: 8.4375rem;
  }
  .hero__text {
    font-size: 1.125rem;
  }
  #databiz {
    width: 113px;
    height: auto;
  }
  #audiophile {
    width: 73px;
    height: auto;
  }
  #meet {
    width: 89px;
    height: auto;
  }
  #marker {
    width: 82px;
    height: auto;
  }
}

.btn {
  cursor: pointer;
  letter-spacing: -0.22px;
  border-radius: 15px;
  font-size: 1rem;
  text-align: center;
}

.btn--black {
  background-color: #141414;
  color: #fafafa;
  padding: 12px 24px;
  border: 1px solid #141414;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.btn--black:hover {
  background-color: transparent;
  color: #141414;
}

.btn--wide {
  width: 100%;
}

.btn--outline {
  border: 1.5px solid dimgray;
  border-radius: 14px;
  padding: 0.8125rem 0;
}

.btn--transparent {
  margin-bottom: 1rem;
}

@media (min-width: 1024px) {
  .btn--transparent {
    margin-bottom: 0;
  }
  .btn--outline {
    padding: 13px 23px;
  }
}

.body {
  position: relative;
}

.attribution {
  position: absolute;
  bottom: 1%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  font-size: 0.5rem;
  line-height: 1.6;
}

.attribution a {
  color: #141414;
}

@media (min-width: 1024px) {
  .attribution {
    bottom: 5%;
  }
}
/*# sourceMappingURL=style.css.map */