.btn {
  cursor: pointer;
  letter-spacing: -0.22px;
  border-radius: 15px;
  font-size: 1rem;
}
.btn--black {
  background-color: $clr-Black;
  color: $clr-White;
  padding: 12px 24px;
}
// .btn--wide {
//   width: 100%;
// }
// .btn--white {
//   color: $clr-Grey;
// }

// .gsggsgs {
//
//   letter-spacing: -0.22px;
//   border-radius: 15px;
//   font-size: 1rem;
// }
