.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 0 1rem;
}
.logo {
  width: 87px;
  height: auto;
}

.hamburger,
.hamburger-close {
  background-color: $clr-White;
  border: none;
  width: 32px;
  height: auto;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .header {
    padding: 0 6%;
    margin-bottom: 4.1875rem;
  }
  .hamburger,
  .hamburger-close {
    display: none;
  }
  .logo {
    width: 83.5px;
    margin-right: 3.9rem;
  }
}
@media (min-width: 1440px) {
  .header {
    padding: 0 2.57875rem;
  }
}
