.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 0 1rem;
}
.logo {
  width: 87px;
  height: auto;
}

.hamburger,
.hamburger-close {
  background-color: $clr-White;
  border: none;
  width: 32px;
  height: auto;
  cursor: pointer;
}
