.hero__content {
  padding: 0 2%;
}
.hero__img {
  width: 100%;
  margin-bottom: 2.984375rem;
}
.hero__title {
  color: $clr-Black;
  font-size: 2.25rem;
  letter-spacing: -0.5px;
  line-height: 42px;
  margin-bottom: 1rem;
}
.hero__text {
  font-size: 1rem;
  line-height: 26px;
  padding: 0 1rem;
  margin-bottom: 1.5rem;
}

.clients-container {
  margin-top: 3rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#databiz {
  width: 81.25px;
  height: auto;
}
#audiophile {
  width: 52.87px;
  height: auto;
}
#meet {
  width: 64.14px;
  height: auto;
}
#marker {
  width: 58.97px;
  height: auto;
}

@media (min-width: 500px) {
  .hero__content {
    padding: 0 14%;
  }
}

@media (min-width: 1024px) {
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6%;
  }

  .hero__content {
    order: -1;
    padding: 0;
    text-align: left;
    margin-right: 10%;
  }
  .hero__title {
    font-size: 5.5vw;
    line-height: 80px;
    letter-spacing: -1.11px;
    margin-bottom: 3rem;
  }
  .hero__text {
    padding: 0;
    font-size: 1.425vw;
    margin-bottom: 3.1875rem;
    max-width: 86%;
    line-height: 28px;
  }
  .clients-container {
    margin-top: 6.75rem;
  }
  .hero__img {
    margin-bottom: 0;
  }
  #databiz {
    width: 10vw;
    height: auto;
  }
  #audiophile {
    width: 73px;
    height: auto;
  }
  #meet {
    width: 89px;
    height: auto;
  }
  #marker {
    width: 82px;
    height: auto;
  }
}
