.container {
  padding: 1rem 0 5.875rem;
  text-align: center;
}
@media (min-width: 1024px) {
  .container {
    padding: 2rem 0 7.625rem;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1440px;
    margin: 0 auto;
  }
}
